{% extends 'app_base.html'%}
{% block main%}
<div>
    <div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
           <div class="alert alert-danger" role="alert">
              {{ messages[0] }}
           </div>
        {% endif %}
        {% endwith %}   
       </div>
    <form action="{{url_for('main_face.add_face_post')}}" method="POST" enctype="multipart/form-data">

        <div>
            <label for="name" class="form-label">Name</label>
            <input id="name" name="name" class="form-control form-control-lg" required type="text" placeholder="Name">
        </div>

        <div>
            <label for="face_image" class="form-label">Face Image</label>
            <input class="form-control form-control-lg" name="face_image" id="face_image" required type="file" accept="image/*">
        </div>
        <div class="text-end my-2">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
{% endblock %}