{%extends 'app_base.html'%} {%block main%}
<div>
  <div>
    <div>
      {% with messages = get_flashed_messages() %} {% if messages %}
      <div class="alert alert-danger" role="alert">{{ messages[0] }}</div>
      {% endif %} {% endwith %}
    </div>
    <!-- header -->
    <div class="card">
      <div class="card-body">
        <div
          class="card-title d-flex justtify-content-between aliegn-items-center"
        >
          <span class="h3"> Approve </span>
          <span class="ms-auto">
            <button type="button"
              class="btn btn-primary"
              onclick="confirm_approve()"
            >
              <span class="fa fa-plus"></span>
              <span> Approve</span>
            </a>
          </span>
        </div>
      </div>
    </div>
    <hr />
    <script >
        function send_to_server (dataToSend){
          dataToSend.face_group_id="{{payload.face_group_id}}"
            // console.log(dataToSend,"asda")
        let dataReceived = "";
        fetch("{{url_for('main_face.approve_face')}}",{
            credentials : "same-origin",
            mode : "same-origin",
            method : "post",
            headers : {"Content-Type" : "application/json"},
            body : JSON.stringify(dataToSend),
        })
            .then (response => {
                if (response.status == 200) {
                        return response.json()
                        console.log("cat")
                }else {
                        console.log("Status",response.status)
                        return Promise.reject()
                }
            })
            .then (dataJson=> {
                dataReceived = JSON.parse(dataJson)
            })
            .catch (err => {
                if (err === "server") return console.log(err)
            })
            window.location = "{{url_for('main_face.face_page_view',id=payload.face_group_id)}}"
            console.log("Received",dataReceived)
    }
    </script>
    <script>
        let approve_ids = []
    
        function approve_face(face_id){
            if (approve_ids.includes(face_id)) {
                let indexx  = approve_ids.indexOf(face_id)
                approve_ids.splice(indexx,1)
                document.getElementById(`img_${face_id}`).style.opacity =1
                
            }else {
                approve_ids.push(face_id);
                document.getElementById(`img_${face_id}`).style.opacity =0.5
            }
        }

        function confirm_approve (){
            console.log("hoho")
            send_to_server({face_ids : approve_ids})
        }
    </script>
    <div>
      {%set faces = data['items'] %} {% if faces | length %}
      <div class="container">
        <div class="row row-cols-3 wrap">
          {% for face in faces%}
          <div class="col">
            <div class="card">
              <img
               id="img_{{face['id']}}"
                src="{{image_static_url}}{{face['image']['image']}}"
                class="card-image-top"
                onclick="approve_face({{face['id']}})"
                style ="cursor: pointer;"
              />
              <div class="card-body">
                <!-- <p>วัน,เวลา {{face['image']['timestamp'] | get_timestamp_format}}</p> -->
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% else %}
      <div class="h3 text-secondary text-center">Empty</div>
      {% endif %}
    </div>
  </div>
  {%endblock%}
</div>
