{% extends 'app_base.html'%}

{% block main %}

<div>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
     <div class="alert alert-danger" role="alert">
        {{ messages[0] }}
     </div>
  {% endif %}
  {% endwith %}   
 </div>
<div class="row">
    <div class="col-6">
        <div class="card " >
            <img src="{{image_static_url}}{{face_group['sample_image']['image']}}"  class="card-image-top"/>
            <div class="card-body">
               
                <div class="card-title h4 d-flex justify-content-between">
                    <span>
                        {{face_group['profile']['given_name_th']}}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card ">
            <div class="card-body">
                    <div class="card-title h4">
                      <span>
                        History
                      </span>
                      {% if  face_group['face_set'] | length%}
                        <span class="me-auto"> 
                           <a href="{{url_for('main_history.history_page',payload={'face_group_id':face_group['id']})}}" class="btn btn-outline-secondary">
                             more
                           </a>
                        </span>
                      {%endif%}
                      {% if face_group['face_set'] | length%}
                          <span>
                            <a href="{{url_for('main_face.approve_page',id=face_group['id'],payload={'face_group_id':face_group['id']})}}" class="btn btn-outline-primary">
                              approve
                            </a>
                          </span>
                      {%endif%}

                    </div>
                    <hr>
                    {% if face_group['face_set'] | length %}
                        {%for face in face_group['face_set']%}

                        {% set face_time =  face['image']['timestamp'] | get_timestamp_format %} 

                        <p>
                            <span>
                                วัน,เวลา {{face_time}}
                            </span>

                            <span class="ms-auto">
                                <button   
                                class="btn  btn-primary btn-sm"
                                id="{{face['id']}}"
                                onclick='openmodal("{{face.image.image}}","{{face_time}}")'
                                type="button"
                              >
                                image
                              </button>
                            </span>
                        </p>
                       
                        <hr>
                        {%endfor%}
                    {%else%}
                    <p class="text-grey">Empty</p>
                    {%endif%}
            </div>
        </div>
    </div>
</div>

  <!-- Button trigger modal -->
  <button
    id="open_modal"
    type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
    style="display: none"
  >
    Launch demo modal
  </button>

  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <img
            id="show_image"
            src="{{image_static_url}}2c5dfd9d-7928-41e9-8b08-bf50b7a05cf1.jpg"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function openmodal(clicked_id,name) {
    let url = "{{image_static_url}}" + clicked_id;
    // alert(url);
    let e = document.getElementById("show_image");
    e.src = url;
    let modal = document.getElementById("open_modal");
    document.getElementById("exampleModalLabel").innerHTML = name
    modal.click();
  }
</script>
{%endblock%}