{% extends 'app_base.html'%}
{% block main %}
<div>
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <span class="h4">
                    Add IP Camera
                </span>
            </div>
            <hr>
            <form action="#" method="POST">
                <div class="mb-3">
                    <label for="camara_name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="camara_name" name="camera_name" required/>

                </div>
                <div class="mb-3">
                    <label for="rtsp_uri" class="form-label" >RTSP URI</label>
                    <input type="url" class="form-control" id="rtsp_uri" name="rtsp_uri" required aria-describedby="rtsp_uri_help"/>
                    <div id="rtsp_uri_help" class="form-text">Example rtsp://125.855.23.345:5023/test</div>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary ">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}