{% extends 'app_base.html'%}
{% block main %}
<div>
    <div class="card">
        <div class="card-body">
            <div class="card-title d-flex justify-content-between">
                <span class="h4">
                    Edit IP Camera
                </span>
                <span class="">
                    <a href="{{url_for('main_camera.delete_camera',id=camera.id)}}" type="button" class="btn btn-danger">Delete</a>
                </span>
            </div>
            <hr>
            <form action="{{url_for('main_camera.edit_camera_post',id=camera.id)}}" method="POST">
                <div class="mb-3">
                    <label for="camara_name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="camara_name" name="camera_name" required value="{{camera.name}}"/>
                </div>
                <div class="mb-3">
                    <label for="rtsp_uri" class="form-label" >RTSP URI</label>
                    <input type="url" class="form-control" id="rtsp_uri" name="rtsp_uri" required aria-describedby="rtsp_uri_help" value="{{camera.uri}}"/>
                    <div id="rtsp_uri_help" class="form-text">Example rtsp://125.855.23.345:5023/test</div>
                </div>
                <div class="mb-3">
                    <p>
                        <span class="fw-bold">Status</span>
                        <span  class="badge bg-primary">
                            {{camera.status | get_camera_status}}
                        </span>
                    </p>
                </div>
                <div class="d-flex justify-content-{{ 'between' if camera.status == 1 else 'between' }}">
                    {% if camera.status != 1%}
                    <div class="d-flex justify-content-start"> 
                        <a type="button" class="btn btn-outline-primary mx-2" href="{{url_for('main_camera.connect_camera',id=camera.id)}}">Connect</a>
                    </div>
                    {%else%}
                    <div class="d-flex justify-content-start"> 
                        <a type="button" class="btn btn-outline-primary mx-2" href="{{url_for('main_camera.display_media',source=camera.uri)}}">View</a>
                    </div>
                    {% endif %}

                    
                    <div class="d-flex justify-content-end">
                        <a type="button" class="btn btn-secondary mx-2" href="{{url_for('main.home')}}">Back</a>
                        <button type="submit" class="btn btn-primary mx-2">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}