{%extends 'app_base.html'%}
{%block main%}
<div>
    <div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
           <div class="alert alert-danger" role="alert">
              {{ messages[0] }}
           </div>
        {% endif %}
        {% endwith %}   
       </div>
    <!-- header -->
    <div class="card">
        <div class="card-body">
            <div class="card-title d-flex justtify-content-between aliegn-items-center">
                <span class="h3">
                    Add Face
                </span>
                <span class="ms-auto">
                   
                </span>
            </div>
        </div>
    </div>
    <hr>
    <div>
        <form action="{{url_for('main_add_profile.add_profile_post')}}" method="POST"  enctype="multipart/form-data">
            <div class="mb-3">
                <label for="CSVfile" class="form-label">CSV file</label>
                <input class="form-control" type="file" id="CSVfile"  accept=".csv" name="data_csv">
              </div>
            <div class="mb-3">
                <label for="ImageFileMultiple" class="form-label">Images</label>
                <input class="form-control" type="file" id="ImageFileMultiple" multiple accept="image/*" name="data_images">
              </div>
              <div>
                  <input type="submit" class="btn btn-primary" value="Submit"/>
        </form>
    </div>
</div>
{%endblock%}