<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for ('static',filename='fontawesome/css/all.css')}}" rel="stylesheet">
    <title>
        Camara Sender 
    </title>
</head>
<body>
{% block body %}


{% endblock %}
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>

</body>
</html>