{% extends 'app_base.html' %}
{% block main%}
<div>
    <div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
           <div class="alert alert-danger" role="alert">
              {{ messages[0] }}
           </div>
        {% endif %}
        {% endwith %}   
       </div>
    <!-- header -->
    <div class="card">
        <div class="card-body">
            <div class="card-title d-flex justtify-content-between aliegn-items-center">
                <span class="h3">
                    Face Management
                </span>
                <span class="ms-auto">
                    <a href="{{url_for('main_face.add_face')}}" class="btn btn-primary">
                        <span class="fa fa-plus"></span>
                        <span> Add</span>
                    </a>
                </span>
            </div>
            <hr>
            <form action="{{url_for('main_face.face_page')}}" action="GET" class=" input-group">
                <input type="text" class="form-control" name="name"  id="name" value="{{payload.name if payload and payload.name else '' }}" >
                <input type="submit" value="Search" class="btn btn-secondary" />
            </div>
        </div>
    </div>

    <hr>
    <!-- body -->
    <div>
        {% if data and  data['items']|length > 0 %}

        {%for face in data['items']%}
        <div class="card">
            <div class="card-body">
                <div class="card-title h4 d-flex justify-content-between">
                    <span>
                        {{face['profile']['given_name_th']}}
                    </span>
                    <span>
                        <a href="{{url_for('main_face.face_page_view',id=face['id'])}}" class="btn btn-primary">
                            <span class="fa fa-eye"></span>
                        </a>
                    </span>
                </div>
            </div>
        </div>
        {%endfor%}

        {% if data and  data['pages'] > 1%}
        <div class="mb-5">
          <nav aria-label="..." class="d-flex justify-content-center">
            <ul class="pagination">
              <li class="page-item  {{'' if data['prev_page'] else 'disabled'}}">
                <a class="page-link" href="{{url_for('main_face.face_change_page',page=data['prev_page'],payload=payload)}}" >Previous</a>
              </li>
              {%for page in data | generate_page_range %}
              
               <li class="page-item {{'active' if page == data['page'] else ''}}"><a class="page-link" href="{{url_for('main_face.face_change_page',page=page,payload=payload)}}">{{page}}</a></li>
    
              {%endfor%}
    
              <li class="page-item {{'' if data['next_page'] else 'disabled'}}">
                <a class="page-link " href="{{url_for('main_face.face_change_page',page=data['next_page'],payload=payload)}}" >Next</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      {%endif%}

        {%else%}
        <div class="h1 text-center text-secondary">
            Nothing.
        </div>
        {%endif%}
    </div>
</div>
{% endblock%}