{% extends 'app_base.html'%} {% block main%}
<div>

  <div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
       <div class="alert alert-danger" role="alert">
          {{ messages[0] }}
       </div>
    {% endif %}
    {% endwith %}   
   </div>
   
  <!-- header -->
  <div class="card">
    <div class="card-body">
      <div
        class="card-title d-flex justtify-content-between aliegn-items-center"
      >
        <span class="h3"> History </span>
        <span class="ms-auto">

        </span>
      </div>
      <div>
        <form action="{{url_for('main_history.history_page_post')}}" method="POST">
          <div class="mb-3">
            <label for="filter_name" >Filter name</label>
            <input type="text"  id="filter_name" name="filter_name" class="form-control" placeholder="filter by name" value="{{payload.name if payload else ''}}">
          </div>
          <div class="mb-3"> 
            <label for="start_datetime" >Start datetime</label>
            <input type="datetime-local" class="form-control" name="start_datetime" id="start_datetime" value="{{payload.start_datetime if payload else None}}"> 
          </div>
          <div class="mb-3"> 
            <label for="end_datetime" >End datetime</label>
            <input type="datetime-local" class="form-control" name="end_datetime" id="end_datetime" value="{{payload.end_datetime if payload else None}}"> 
          </div>
          <div class="text-end">
            <input type="button" class="btn btn-secondary" value="Reset" onclick="clearvalue()">
            <button type="submit"  class="btn btn-primary">Submit</button>
          </div>
          
        </form>
      </div>
    </div>
  </div>
  <hr />
  <div>
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Time</th>
          <th scope="col">Image</th>
        </tr>
      </thead>
      <tbody>
        {%set faces = data['items']%}
        {% if faces | length %} {%for face in faces%}
        <tr>
          {% set face_name = face | get_face_name_or_unknown%}
          <th scope="row">{{face_name}}</th>
          {% set face_time =  face['image']['timestamp'] | get_timestamp_format %} 
          <td>{{face_time}}</td>
          <td class="text-center">
            <button
            class="btn  btn-primary"
              id="{{face['id']}}"
              onclick='openmodal("{{face.image.image}}","{{face_name}} {{face_time}}")'
              type="button"
            >
              Click
            </button>
          </td>
        </tr>
        {%endfor%} {%else%}
        <tr>
          <td nowrap="nowrap" colspan="3" class="text-center text-secondary">
            Empty
          </td>
        </tr>
        {%endif%}
      </tbody>
    </table>

    {% if data and  data['pages'] > 1%}
    <div class="mb-5">
      <nav aria-label="..." class="d-flex justify-content-center">
        <ul class="pagination">
          <li class="page-item  {{'' if data['prev_page'] else 'disabled'}}">
            <a class="page-link" href="{{url_for('main_history.history_change_page',page=data['prev_page'],payload=payload)}}" >Previous</a>
          </li>
          {%for page in  data | generate_page_range %}
          
           <li class="page-item {{'active' if page == data['page'] else ''}}"><a class="page-link" href="{{url_for('main_history.history_change_page',page=page,payload=payload)}}">{{page}}</a></li>

          {%endfor%}

          <li class="page-item {{'' if data['next_page'] else 'disabled'}}">
            <a class="page-link " href="{{url_for('main_history.history_change_page',page=data['next_page'],payload=payload)}}" >Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  {%endif%}

  <!-- Button trigger modal -->
  <button
    id="open_modal"
    type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
    style="display: none"
  >
    Launch demo modal
  </button>

  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <img
            id="show_image"
            src=""
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function openmodal(clicked_id,name) {
    let url = "{{image_static_url}}" + clicked_id;
    // alert(url);
    let e = document.getElementById("show_image");
    e.src = url;
    let modal = document.getElementById("open_modal");
    document.getElementById("exampleModalLabel").innerHTML = name
    modal.click();
    
  }
  function clearvalue(){
    let name = document.getElementById("filter_name")
    name.value = null
    let start_date =document.getElementById("start_datetime")
    start_date.value = null
    let end_date = document.getElementById("end_datetime")
    end_date.value = null
  }
</script>
{%endblock%}
