{% extends 'app_base.html'%}

{% block main%}
<div>
    <!-- header -->
    <div class="card">
        <div class="card-body">
            <div class="card-title d-flex justtify-content-between aliegn-items-center">
                <span class="h3">
                    IP Carama
                </span>
                <span class="ms-auto">
                    <a href="{{url_for('main_camera.add_camera')}}" class="btn btn-primary">
                        <span class="fa fa-plus"></span>
                        <span> Add</span>
                    </a>
                </span>
            </div>
        </div>
    </div>

    <hr>

    <!-- body -->
    <div>
        {% if camera_set|length > 0 %}
            {%for camera in camera_set%}
                <div class="card my-3">
                    <div class="card-body">
                        <div class="card-title h4 d-flex justify-content-between">
                            <span>
                                {{camera.name}}
                            </span>
                            <span >
                                <a href="{{url_for('main_camera.edit_camera',id=camera.id)}}" class="btn btn-outline-primary fa fa-cog">
                                </a>
                            </span>
                        </div>
                        <hr>
                        <div>
                            <span class="fw-bold">URI</span>
                            <span class="text-secondary">
                                {{camera.uri}}
                            </span>
                            <div>
                                <span class="fw-bold">
                                    Status
                                </span>
                                <span class="badge bg-primary">
                                    {{camera.status | get_camera_status}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            {%endfor%}
        {%else%}
        <div class="h1 text-center text-secondary">
            Nothing.
        </div>
        {%endif%}
    </div>
</div>
{% endblock%}