{% extends 'base.html'%}
{% block body %}
<div class="container mt-5 pt-5 mb-5">
  <div class="row justify-content-center">
     <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="card">
           <div class="card-body">
              <div class="text-center m-auto">
                 <h4 class="text-uppercase text-center">Login</h4>
              </div>
              <div>
               {% with messages = get_flashed_messages() %}
               {% if messages %}
                  <div class="alert alert-danger" role="alert">
                     {{ messages[0] }}
                  </div>
               {% endif %}
               {% endwith %}   
              </div>
              <form action="/login" method="post">
                 <input type="hidden" name="csrftoken" value="ea49375f43c7e6a59c77df1e4de562b3f1350124eeb70e5d5124e4ce3b5251c2b4d12e9aaf2a3ddc618c178c8dc4620b">
                 <div class="form-group mb-3">
                    <label for="emailaddress">Email </label>
                    <input type="email" name="email" placeholder="Enter email" class="form-control" required="">
                 </div>
                 <div class="form-group mb-3">
                    <label for="password">Password</label>
                    <div class="input-group bg-light" id="show_hide_password">
                       <input type="password" class="form-control" id="password" name="password"  placeholder="Enter Password" required="">
                    </div>
                 </div>
                 <div class="form-group mb-3">
                    <div class="custom-control custom-checkbox checkbox-success">
                       <input type="checkbox" class="custom-control-input" id="checkbox-signin" checked>
                       <label class="custom-control-label" for="checkbox-signin">Remember me</label>
                    </div>
                 </div>
                 <div class="form-group mb-0 text-center">
                    <button class="btn btn-primary btn-block" type="submit" name="submit"> Log In </button>
                 </div>
               
              </form>
           </div>
        </div>
     </div>
  </div>
</div>
{% endblock %}