{% extends 'app_base.html'%}
{% block main %}
<div>
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <span class="h3">Setting</span>
            </div>
        </div>
    </div>
    <hr>
    <div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-danger" role="alert">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
    </div>
    <div class="card">
        <div class="card-body">
            <div class="card-title h5">
                Server
                {% if server.status %}
                <span class="badge bg-success">Online</span>
                {%else%}
                <span class="badge bg-secondary">Offline</span>
                {%endif%}
            </div>
            <hr>
            <div>
                <form action="{{url_for('main_setting.setting_server_post')}}" method="POST">
                    <div class="mb-3">
                        <label for="server_url" class="form-label">Server url</label>
                        <input type="url" class="form-control " id="server_url" name="server_url"
                            aria-describedby="server_url_help" value="{{server.url if server.url else ''}}" />
                        <div id="server_url_help" class="form-text">Example https://123.234.56.23:2342/test</div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary">Connect</button>
                    </div>
                </form>
            </div>
            {% if server.status%}
            <hr/>
            <div class="d-flex justify-content-start">
             
                <div>
                    {% if face_version == 0 and face_server_version !=0 %}
                    <a href="{{url_for('main_setting.load_face')}}" class="btn btn-primary" disabled>Load Faces</a>
                    {%endif%}
                    
                </div>
                <div>
                    {% if face_version != 0 and face_version !=  face_server_version%}
                    <a href="{{url_for('main_setting.update_face')}}" class="btn btn-success">Update Faces </a>
                    {%endif%}

                </div>
            </div>
            {%endif%}
        </div>
    </div>
</div>
{% endblock %}