{% extends 'app_base.html'%}
{% block main%}
<div>
    <div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
           <div class="alert alert-danger" role="alert">
              {{ messages[0] }}
           </div>
        {% endif %}
        {% endwith %}   
       </div>
    <!-- header -->
    <div class="card">
        <div class="card-body">
            <div class="card-title d-flex justtify-content-between aliegn-items-center">
                <span class="h3">
                    UnKnown Face
                </span>
                <span class="ms-auto">
                    <a href="{{url_for('main_unknown_face.clustering_unknow_face')}}" class="btn btn-primary">
                        <span class="fa fa-plus"></span>
                        <span> Clustering</span>
                    </a>
                </span>
            </div>
        </div>
    </div>
    <hr>
    {% if faces | length %}
    <div class="container">
        <div class="row row-cols-3 ">
            {% for face in faces%}
            <div class="col">
                <div class="card">
                    <img src="{{image_static_url}}{{face['image']['image']}}" class=" card-image-top" />
                    <div class="card-body">
                            <p>วัน,เวลา {{face['image']['timestamp'] | get_timestamp_format}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="h3 text-secondary text-center">
        Empty
    </div>
    {% endif %}
</div>
{%endblock%}